<div class="container my-5">
  <div class="row">
    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage1" title="Audi1"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage2" title="Audi2"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage3" title="Audi3"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage4" title="Audi4"></app-gallery-card>
    </div>
  </div>


 <div class="row">
    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage5" title="Audi5"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage6" title="Audi6"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage7" title="Audi7"></app-gallery-card>
    </div>

    <div class="col-md-3 mb-4">
      <app-gallery-card [image]="cardImage8" title="Audi8"></app-gallery-card>
    </div>
  </div>
</div>
