<div class="container mt-5 mb-5">
     <div class="row">
       <div class="col-md-4">
         <app-card
           [title]="cardTitle"
           [description]="cardDescription"
           [image]="cardImage"
           />
         </div>
       <div class="col-md-4">
         <app-card
           [title]="cardTitle2"
           [description]="cardDescription2"
           [image]="cardImage2"
         />
           </div>
       <div class="col-md-4">
         <app-card
           [title]="cardTitle3"
           [description]="cardDescription3"
           [image]="cardImage3"
         />
       </div>
     </div>

