<div class="container view-padding">
  <div class="row justify-content-center mt-5">
    <div class="col-12 col-md-8 mb-5">
      <h1 class="text-center mb-5">Contact Us</h1>

      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tincidunt purus, sed dignissim nibh.
        Curabitur vitae libero id nunc fermentum ullamcorper non ac justo.
        Suspendisse potenti. Maecenas nec turpis ac leo bibendum tincidunt.<br>
        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
        Fusce aliquam lorem a justo sagittis, at hendrerit nisi dapibus.<br>
        Sed ultricies nisl vitae dolor faucibus, eget scelerisque quam sollicitudin.
        Integer at diam vitae ligula efficitur suscipit a ut turpis.
        Phasellus non libero ut enim tincidunt fermentum.
        Morbi quis justo vel sapien commodo dignissim vel a lorem.
      </p>

      <!-- Formulário alinhado -->
      <form class="mt-5">
        <!-- Email input -->
        <div data-mdb-input-init class="form-outline mb-4">
          <input type="email" id="form1Example1" class="form-control" />
          <label class="form-label" for="form1Example1">Email address</label>
        </div>

        <!-- Password input -->
        <div data-mdb-input-init class="form-outline mb-5">
          <input type="password" id="form1Example2" class="form-control" />
          <label class="form-label" for="form1Example2">Password</label>
        </div>

        <!-- 2 column grid layout for inline styling -->
        <div class="row mb-5">
          <div class="col d-flex justify-content-center">
            <!-- Checkbox -->
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="form1Example3" checked />
              <label class="form-check-label" for="form1Example3"> Remember me </label>
            </div>
          </div>

          <div class="col">
            <!-- Simple link -->
            <a href="#!">Forgot password?</a>
          </div>
        </div>

        <!-- Submit button -->
        <button data-mdb-ripple-init type="submit" class="btn btn-primary btn-block">Sign in</button>
      </form>
    </div>
  </div>
</div>
