<div class="container my-5">

  <!-- Card Header -->
  <div class="content-wrapper mb-5">
    <div class="card">
      <div class="card-header text-white bg-dark">
        <h1 class="mb-3"><em>Title of a longer<br>featured blog post</em></h1>
        <h6 class="mb-3">Multiple lines of text that form the lede, informing new<br>
          readers quickly and efficiently about what's most<br>
        interesting in this post's contents.</h6>

        <a href="#" class="text-white fw-bold text-decoration-none">Continue reading...</a>
      </div>
    </div>
  </div>

  <!-- Conteúdo e Sidebar alinhados com o card-header -->
  <div class="content-wrapper">
    <div class="row">
      <!-- Posts à esquerda -->
      <div class="col-md-8">
        <h3><em>Daily News</em></h3>
        <hr>
        <div class="mb-4">
          <h4>Another blog post 1</h4>
          <p><small>December 23, 2019 by Jacob</small></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tincidunt purus, sed dignissim nibh.
            Curabitur vitae libero id nunc fermentum ullamcorper non ac justo.
            Suspendisse potenti. Maecenas nec turpis ac leo bibendum tincidunt.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Fusce aliquam lorem a justo sagittis, at hendrerit nisi dapibus.
            Sed ultricies nisl vitae dolor faucibus, eget scelerisque quam sollicitudin.
            Integer at diam vitae ligula efficitur suscipit a ut turpis.
            Phasellus non libero ut enim tincidunt fermentum.
            Morbi quis justo vel sapien commodo dignissim vel a lorem.</p>

        </div>
        <div>
          <h4>Another blog post 2</h4>
          <p><small>December 23, 2019 by Jacob</small></p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet tincidunt purus, sed dignissim nibh.
            Curabitur vitae libero id nunc fermentum ullamcorper non ac justo.
            Suspendisse potenti. Maecenas nec turpis ac leo bibendum tincidunt.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Fusce aliquam lorem a justo sagittis, at hendrerit nisi dapibus.
            Sed ultricies nisl vitae dolor faucibus, eget scelerisque quam sollicitudin.
            Integer at diam vitae ligula efficitur suscipit a ut turpis.
            Phasellus non libero ut enim tincidunt fermentum.
            Morbi quis justo vel sapien commodo dignissim vel a lorem.</p>

        </div>
      </div>

      <!-- Sidebar à direita -->
      <div class="col-md-4">
        <h5>Archives</h5>
        <ul class="list-unstyled">
          <li><a href="#">March 2014</a></li>
          <li><a href="#">February 2014</a></li>
          <li><a href="#">January 2014</a></li>
          <li><a href="#">December 2013</a></li>
          <li><a href="#">November 2013</a></li>
          <li><a href="#">October 2013</a></li>
          <li><a href="#">September 2013</a></li>
          <li><a href="#">August 2013</a></li>
          <li><a href="#">July 2013</a></li>
          <li><a href="#">June 2013</a></li>
          <li><a href="#">May 2013</a></li>
          <li><a href="#">April 2013</a></li>
        </ul>

        <h5 class="mt-5">Elsewhere</h5>
        <ul class="list-unstyled">
          <li><a href="#">GitHub</a></li>
          <li><a href="#">Twitter</a></li>
          <li><a href="#">Facebook</a></li>
        </ul>
      </div>
    </div>
  </div>

</div>
