<app-carousel/>

<div class="container mt-5 mb-5">

  <app-cards/>

</div>



<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="row">
        <div class="col-md-6 p-2">
          <p>O Audi R8 é um dos automóveis mais emblemáticos do mundo automóvel moderno. Desenvolvido pela divisão desportiva da Audi — a Audi Sport GmbH — o R8 é um superdesportivo que alia design elegante, desempenho extremo e tecnologia de ponta.</p>
        </div>
        <div class="col-md-6 p-2">
          <img class="w-100 img-fluid rounded" src="https://c4.wallpaperflare.com/wallpaper/782/291/684/sports-car-bokeh-tail-light-downtown-wallpaper-preview.jpg" alt="Audi R8"/>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 p-2">
          <img class="w-100 img-fluid rounded" src="https://e0.pxfuel.com/wallpapers/306/933/desktop-wallpaper-keyvany-audi-rs7-sportback-tuning-2021-cars-r-supercars-2021-audi-rs7-sportback-german-cars-keyvany-audi-red-rs7-sportback.jpg" alt="Audi RS7"/>
        </div>
        <div class="col-md-6 p-2">
          <p>O Audi RS7 Sportback é um dos modelos mais potentes, tecnológicos e refinados da linha Audi Sport. Trata-se de uma berlina de luxo com um visual de coupé, que combina elegância, espaço e conforto com desempenho de superdesportivo.</p>
        </div>
      </div>
    </div>
  </div>
</div>


