<app-carousel/>

<div class="container mt-5 mb-5">

  <app-cards/>

</div>



<div class="container mt-3 mb-3">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="row">
        <div class="col-md-6 p-2">
          <p>The Audi R8 is one of the most iconic cars in the modern automotive world. Developed by Audi Sport GmbH, the R8 is a supercar that blends elegant design, extreme performance, and cutting-edge technology. With a high-revving V10 engine, quattro all-wheel drive, and precision engineering, it delivers an exhilarating driving experience, while its aerodynamic exterior and luxurious interior make it a perfect balance of style and performance.</p>
        </div>
        <div class="col-md-6 p-2">
          <img class="w-100 img-fluid rounded" src="https://c4.wallpaperflare.com/wallpaper/782/291/684/sports-car-bokeh-tail-light-downtown-wallpaper-preview.jpg" alt="Audi R8"/>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-md-6 p-2">
          <img class="w-100 img-fluid rounded" src="https://e0.pxfuel.com/wallpapers/306/933/desktop-wallpaper-keyvany-audi-rs7-sportback-tuning-2021-cars-r-supercars-2021-audi-rs7-sportback-german-cars-keyvany-audi-red-rs7-sportback.jpg" alt="Audi RS7"/>
        </div>
        <div class="col-md-6 p-2">
          <p>The Audi RS7 Sportback is one of the most powerful and refined models in the Audi Sport lineup. This luxury sedan with a coupe-like design combines elegance, space, and comfort with supercar-level performance. Its advanced engine, quattro all-wheel-drive, and modern driver-assistance systems deliver an exhilarating drive while remaining practical for everyday use.</p>
        </div>
      </div>
    </div>
  </div>
</div>


